.form-container {
  width: 30%;
  height: auto;
  margin: 0 auto;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 5px;
  padding: 10px 0 20px 0;
}

.form-container__form {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.form-container__form > input {
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

.form-container__form > button {
  padding: 10px;
  border: none;
  cursor: pointer;
}

.form-container__form > button:hover {
  background-color: lightgreen;
}
